body {
    margin: 0;
    background-color: darkkhaki;
}

#header {    
    background-color: rgb(115, 115, 139);
    padding: 40px;
    position: relative;
    animation-name: fadeInH;
    animation-duration: 5s;
    animation-fill-mode: backwards;

}


#title {
    font-size: 30px;
    text-align: center;
    color: black;
    
}

#button {    
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: black;
    position: absolute;
    cursor: pointer;
    transform: translateX(710%);
}

@keyframes fadeInH {
    0% {opacity: 0;}
    100% { opacity: 1;}   
    
      
}

@keyframes zoomin 
